// nextflow.config
apptainer {
    enabled = true
    autoMounts = true
    // 심볼릭 링크 타겟(/stge) 마운트 및 SIF 캐시 경로 설정
    runOptions = "-B /stge"
    cacheDir = "/home/wpark/nextflow-test/project/apptainer_images"
}

params {
    // 입력 규격 (R1 필수, R2 선택)
    srcFilePathR1 = ""
    srcFileNmR1   = ""
    srcFilePathR2 = ""
    srcFileNmR2   = ""

    // 출력 규격
    outputFilePath = "" // 최종 결과 (.sra, .xml, .jsonl) 저장 경로
    outputFileNm   = "" // 최종 SRA 파일명 (예: sample.sra)
}

process {
    executor = 'local' // 필요 시 'slurm'으로 변경
    container = 'sratoolkit.3.1.1.sif'

    withLabel: 'process_medium' { cpus = 4; memory = '16 GB' }
    withLabel: 'process_low'    { cpus = 2; memory = '4 GB' }
    
    errorStrategy = 'terminate'
}

report {
    enabled = true
    file    = "${params.outputFilePath}/execution_report_v1.1.html"
    overwrite = true
}
